* {
  box-sizing: border-box;
  margin: 0;
}
html {
  height: 100%;
}
.container {
  max-width: 1134px;
  margin: auto;
}
p {
  font-family: "Inter" sans-serif;
  color: #8191a6;
}
.header {
  background-color: #fff;
  height: 59px;
  align-content: center;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  position: sticky;
  z-index: 0;
  top: 0;
  z-index: 9999;
}
.phone {
  margin-left: 13px;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 0;
}
.baton {
  font-family: "Inter", sans-serif;
  margin-left: auto;
  font-size: 12px;
  color: #fff;
  background: #ffa019;
  border-radius: 10px;
  height: 45px;
  width: 180px;
  border: none;
}
.nav {
  font-family: "Inter", sans-serif;
  color: #8191a6;
  margin-left: auto;
  margin-right: 147px;
}
.label {
  font-size: 29px;
}
.secheader {
  display: flex;
  align-items: center;
  height: 59px;
}
.menu {
  display: flex;
  list-style-type: none;
  font-size: 14px;
  margin-left: auto;
}
.menu-item {
  margin-right: 10px;
}
#bg {
  height: 100%;
  width: 100%;
  background-size: cover;
  filter: brightness(40%);
}
.fscreen {
  position: relative;
}
.ftexts {
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  position: absolute;
  color: white;
  top: 285px;
  left: 20%;
  right: 20%;
  max-width: 647px;
  margin: auto;
  text-align: center;
  justify-content: center;
}
.ftext {
  color: white;
  margin-bottom: 34px;
  font-size: 20px;
  line-height: 30px;
}
.flabel {
  margin-bottom: 30px;
  color: white;
  font-size: 47px;
}
.fbutton {
  width: 176px;
  height: 42px;
  left: 2px;
  top: 2px;
  background: #ffffff;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}
.advscreen {
  margin-top: 80px;
  font-size: 29px;
  margin-bottom: 153px;
}
.advnav {
  display: flex;
  align-content: center;
  margin-bottom: 146px;
}
.advsvg {
  margin-left: auto;
}
.advlabel {
  color: #000000;
  font-family: "Inter", sans-serif;
}
.advpics {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  max-height: 150px;
  height: 150px;
}
.advpictext {
  font-family: "Inter", sans-serif;
  margin-top: 50px;
  margin-right: 71px;
  margin-left: 39px;
  font-size: 20px;
  color: #000000;
  margin: auto;
}
.advptext {
  display: flex;
  align-items: center;
  margin: auto;
  font-family: "Inter", sans-serif;
}
.advpic {
  margin-left: 88px;
  margin-right: 52px;
  margin: auto;
}
.assorti {
  margin-left: 80px;
}
.deliv {
  margin-left: 50px;
}
.bartext {
  display: flex;
  color: #000000;
  margin-top: 50px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  align-items: center;
  line-height: 27px;
  margin-bottom: 80px;
}
.barlabel {
  font-size: 22px;
}
.barcontent {
  display: flex;
  align-items: center;
}
.bar {
  background: #ffa019;
  font-family: "Inter", sans-serif;
  margin-right: auto;

  height: 100px;
  align-content: center;
}
.sub {
  color: #ffffff;
  width: 254px;
  font-size: 15px;
  line-height: 22.5px;
}
.subbuton {
  height: 53px;
  width: 239px;
  background-color: #ffffff;
  border: none;
  font-size: 17px;
}
#name {
  background: #ffa019;
  height: 53px;
  width: 239px;
  color: #fff;
  border: solid #fff 2px;
  margin: 19px;
  margin-left: 168px;
}
#email {
  background: #ffa019;
  height: 53px;
  width: 239px;
  color: #fff;
  border: solid #fff 2px;
  margin: 24px;
}
::placeholder {
  text-indent: 15px;
  color: white;
  opacity: 1; /* Firefox */
}
.special {
  margin-right: auto;
  align-content: center;
  margin-top: 119.5px;
}
.specs {
  display: flex;
  align-content: center;
  font-size: 19px;
  margin-top: 59.5px;
  margin-left: auto;
}
.GiroSpec {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 29px;
}
.list {
  margin-right: auto;
  list-style-type: none;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  line-height: 25.5px;
}
.listcatalog {
  display: flex;
  margin-right: auto;
  list-style-type: none;
  font-family: "Inter", sans-serif;
  margin-left: 596.6px;
  align-items: center;
}
.catalog {
  background-color: #f6f6f6;
  margin-bottom: 29px;
}
.catalogcontainment{
  display: flex;
  padding-top: 55px;
  padding-bottom: 55px;
}
.catalogtext {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 29px;
}
.listcatalogdp {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  padding: 2%;
  font-size: 15px;
}
.listvse {
  background-color: #ffa019;
  color: #fff;
  border: none;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.box{
  width: 250px;
  height: 390px;
  background-color: #FFF;
  margin-right: 29px;
  margin: auto;
  margin-bottom: 140px;
}
.catalogboxes{
  display: flex;
}
.type{
  margin-top: 19px;
  height: 28px;
  margin-right: auto;
  background: #ffa019;
  align-content:center;
  color: white;
  width: fit-content;
  border-end-end-radius: 12px;
  border-top-right-radius: 12px;
  padding-left: 12px;
  padding-right: 18px;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
}
.boxpic{
  width: 214px;
  height: 214px;
  margin:auto;
  display: block;
  margin-bottom: 7px;
}
.boxname{
  font-family: "Inter", sans-serif;
  margin-left: 20px;
  color:black;
  font-size: 14px;
  margin-bottom: 29px;
  width: 164px;
}
.price{
  font-family: "Inter", sans-serif;
  color:black;
  font-size: 21px;
  margin-left: 20px;
}
.conboxes{
  display: flex;
}
.conbox{
  width: 360px;
  height: 185px;
  background-color: #f6f6f6;
  margin-right: 29px;
  margin: auto;
  margin-top: 92px;
  margin-bottom: 64px;
  display: flex;
}
.conpic{
  height: 185px;
  width: 163px;
}
.conboxlabel{
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: black;
  margin-top: 36px;
}
.conboxjob{
  font-family: "Inter", sans-serif;
  font-size: 9px;
  color: #000000;
  margin-top: 18px;
}
.conboxbutton{
  margin-top: 30px;
  font-family: "Inter", sans-serif;
  font-size: 9px;
  color: white;
  background: #ffa019;
  border-radius: 10px;
  height: 35px;
  width: 85px;
  border: none;
}
.concontent{
  margin-left: 32px;
}
.brandbar{
  height: 194px;
  background-color: #f6f6f6;
  align-content: center;
  margin-bottom: 102px;
}
.brands{
  list-style-type: none;
  display: flex;
}
.brand{
  color: #9B9B9B;
  font-size: 47px;
  margin-right: 44px;
  margin: auto;
}
.usefulboxes{
  margin-top: 62px;
  display: flex;
}
.usefulbox{
  width: 261px;
  height: 261px;
  margin-right: 29px;
  margin-bottom: 52px;
  margin: auto;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  background-size: contain;
  display: flex;
  align-content: center;
}
#firstbox{
  background-image: url("img/use1.jpg");
}
#secondbox{
  background-image: url("img/use2.jpg");
}
#thirdbox{
  background-image: url("img/use3.jpg");
}
#fourbox{
  background-image: url("img/use4.jpg");
}
.usefultext{
  font-family: "Inter", sans-serif;
  color: #FFF;
  font-size: 17px;
  line-height: 28px;
  margin:auto;
  margin-left:22px;
}