* {
  box-sizing: border-box;
  margin: 0;
}
.container {
  max-width: 1134px;
  margin: auto;
}
p {
  font-family: "Inter" sans-serif;
  color: #8191a6;
}
.header {
  background-color: #fff;
  height: 59px;
  align-content: center;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  position: sticky;
  z-index: 0;
  top: 0;
  z-index: 9999;
}
.phone {
  margin-left: 13px;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 0;
}
.baton {
  font-family: "Inter", sans-serif;
  margin-left: auto;
  font-size: 12px;
  color: #fff;
  background: #ffa019;
  border-radius: 10px;
  height: 45px;
  width: 180px;
  border: none;
}
.nav {
  font-family: "Inter", sans-serif;
  color: #8191a6;
  margin-left: auto;
  margin-right: 147px;
}
.label {
  font-size: 29px;
}
.secheader {
  display: flex;
  align-items: center;
  height: 59px;
}
.menu {
  display: flex;
  list-style-type: none;
  font-size: 14px;
  margin-left: auto;
}
.menu-item {
  margin-right: 10px;
}
#bg {
  height: 833px;
  width: 1920px;
  filter: brightness(40%);
}
.fscreen {
  position: relative;
}
.ftexts {
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  position: absolute;
  color: white;
  top: 285px;
  left: 20%;
  right: 20%;
  max-width: 647px;
  margin: auto;
  text-align: center;
}
.ftext {
  color: white;
  margin-bottom: 34px;
  font-size: 20px;
  line-height: 30px;
}
.flabel {
  margin-bottom: 30px;
  color: white;
  font-size: 47px;
}
.fbutton {
  width: 176px;
  height: 42px;
  left: 2px;
  top: 2px;
  background: #ffffff;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}
.advscreen {
  margin-top: 80px;
  font-size: 29px;
}
.advnav {
  display: flex;
  align-content: center;
  margin-bottom: 146px;
}
.advsvg {
  margin-left: auto;
}
.advlabel {
  color: #000000;
}
.advpics {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  max-height: 150px;
  height: 150px;
}

.advpictext {
  margin-top: 50px;
}
